#doorbell-button {
  border-radius: 0 0 5px 5px;
  top: 0;
  bottom: auto;
  right: 10px;
  background: $black;
  font-family: $fontFamily;
}

#doorbell {
  font-family: $fontFamily;

  #doorbell-powered-by {
    display: none;
  }

  .btn.btn-primary {
    background: $lightSage;
    border: none;
    color: $black;
    font-weight: bold;
  }
}
