#header {
  .tab-button {
    position: fixed;
    cursor: pointer;
    width: auto;
    border: 0;
    font-size: 14px;
    background: #2c2c2c;
    color: #ffffff;
    padding: 10px 20px;
    margin: 0;
    z-index: 100;
    border-radius: 5px 5px 0 0;
    border-radius: 0 0 5px 5px;
    top: 0;
    left: 10px;
    background: #efefef;
    color: #3d3d3d;
    font-weight: bold;
    display: flex;
  }
}
