#level-selection {
  width: 100%;
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: center;

  @include respond-above(sm) {
    align-items: center;
  }

  .hidden,
  .disabled {
    pointer-events: none;
  }
  .hidden {
    display: none !important;
  }
  .disabled {
    opacity: 0;
  }

  .inner-wrapper {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include respond-below(sm) {
      max-width: 350px;
    }

    @include respond-above(sm) {
      justify-content: space-evenly;
    }

    .prev,
    .next {
      @include respond-above(sm) {
        // game canvas / 2, arrow height / 2, leftovers
        top: calc(-250px + -32px + -7px);
        position: absolute;
      }
      img {
        width: 32px;
        @include respond-above(sm) {
          width: 64px;
        }
      }
    }

    .prev {
      @include respond-above(sm) {
        left: -150px;
      }
    }

    .next {
      @include respond-above(sm) {
        right: -150px;
      }

      img {
        transform: rotate(180deg);
      }
    }

    .current-level {
      border: 0.5px solid lighten($brownGrey, 20);
      border-radius: 4px;
      padding: 8px 16px;

      &::after {
        content: "";
        display: inline-block;
        margin: 0 0 2px 12px;
        background-image: url(/assets/back@2x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 8px;
        height: 12px;
        transform: rotate(-90deg);
      }

      @include respond-above(sm) {
        line-height: auto;
        font-size: 48px;

        &::after {
          margin: 0 5px 5px 20px;
          width: 15px;
          height: 23px;
        }
      }
    }

    .restart {
      img {
        width: 40px;

        @include respond-above(sm) {
          width: 76px;
        }
      }
    }

    span {
      display: inline-block;
      cursor: pointer;
    }
  }
}
