.overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.64);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  position: relative;
  background: white;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  padding: 24px;

  .close-cross {
    position: absolute;
    top: 10px;
    right: 20px;
    color: $black;
    font-weight: normal;
    font-size: 40px;
    font-weight: 200;
    cursor: pointer;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: auto;
    margin: 0 0 10px;
  }

  .modal-button {
    display: flex;
    width: 100%;
    background: $lightSage;
    border-radius: 4px;
    color: $pine;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
  }
}

.modal-body.stay-informed-modal {
  input[type="email"] {
    border: 1px solid $lightGray;
    box-sizing: border-box;
    color: $black;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 16px;
    height: 48px;
    -webkit-appearance: none;
    margin: 10px 0 0;

    &.invalid {
      border: 2px solid $strongRed;
    }
  }

  .submit-feedback {
    text-align: center;
    margin: 10px 0 20px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .success,
    .error {
      font-weight: bold;
    }
    .success {
      color: $pine;
    }
    .error {
      color: $strongRed;
    }
  }
}

.modal-body.install-modal {
  &.safari-specific {
    align-self: flex-end;

    &::after {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      background: white;
      transform: rotate(45deg);
      bottom: -10px;
      left: 50%;
      margin-left: -10px;
    }

    .ios-instructions {
      margin-bottom: 10px;

      .ios-export {
        width: 14px;
        display: inline;
        margin: 0 5px;
        vertical-align: text-top;
      }
    }
  }

  .perks-list {
    list-style: none;
    padding-left: 12px;
    margin: 20px 0;

    & + .modal-button {
      margin-top: 30px;
    }

    li {
      font-size: 16px;
      margin-bottom: 12px;

      &:before {
        content: "";
        margin-right: 10px;
        display: inline-block;
        width: 16px;
        height: 13px;
        background: url("/assets/check-blue@2x.png") no-repeat left 5px;
        background-size: 100%;
        background-position: center;
      }
    }
  }
}
