* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

body {
  overscroll-behavior: contain;
  font-family: $fontFamily;
  font-size: $gameDefaultFontSize;
  font-weight: bold;
  color: $black;
  display: flex;
}

#app {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;

  @include respond-below(sm) {
    padding: 10px;
  }

  @include respond-above(sm) {
    height: 800px;
  }
}
