// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$fontFamily: 'Open Sans', sans-serif;
$gameDefaultFontSize: 24px;

// Colors
$black: #3d3d3d;
$lightSage: #c8f4cf;
$red: #f5c4c4;
$strongRed: #f57f7f;
$gray: #cccccc;
$lightGray: #efefef;
